.home_B1 {
  background-color: rgba(35, 37, 54, 1);
  padding-top: 56px;
}
.flex_main {
  display: flex;
  justify-content: space-between;
}
.header_H1 {
  margin-top: 24px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0px;
  color: white;
  width: 624px;
}
.elemHome_left {
  padding-top: 56px;
}
.elemHome_left p {
  margin-top: 24px;
  margin-bottom: 32px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  opacity: 0.6;
  width: 528px;
}
.button_icon {
  position: absolute;
}
aside {
  margin-top: 120px;
  margin-bottom: 98px;
}
.home_header_button {
  position: relative;
  /* width: 219px; */
  /* height: 64px; */
  background-color: rgba(68, 76, 252, 1);
  border: none;
  text-align: left;
  padding: 0px !important;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: white;
}
.InButton_div {
  display: flex;
  gap: 16px;
  padding: 20px 32px;
}
.logos_div {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}
.elemRight h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0px;
  color: rgba(35, 37, 54, 1);
}
.elemRight p {
  width: 547px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(93, 95, 109, 1);
}
.aboutUs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutUs h2 {
  margin-top: 16px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0px;
  color: rgba(35, 37, 54, 1);
}
.h2AboutUsz {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}
.worke {
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}
.news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 98px;
}
.news_flex {
  display: flex;
  align-items: center;
  gap: 66px;
}
.news a {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(68, 76, 252, 1);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 16px;
}
.news_flex h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0px;
  color: rgba(35, 37, 54, 1);
}
.news_flex p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

/* section  */
section {
  background-color: rgba(236, 248, 249, 1);
}
.section {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}
.section_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section_elemLaft h2 {
  margin-top: 16px;
  margin-bottom: 24px;
  width: 622px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0px;
  color: rgba(35, 37, 54, 1);
}
.section_elemLaft p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(93, 95, 109, 1);
  width: 622px;
}
.rightElemInbox h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);
}
.rightElemBox {
  width: 515px;
  display: flex;
  align-items: start;
  gap: 16px;
  padding: 32px 22px 32px 32px;
  background-color: white;
}
.center {
  margin-top: 12px;
  margin-bottom: 12px;
}
/* Services */
.Services {
  background-color: rgba(255, 230, 210, 1);
  padding-top: 96px;
  padding-bottom: 96px;
}
.ServicesHeaderH2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0px;
  width: 777px;
  margin-bottom: 40px;
}
.sevisesbox {
  display: flex;
  justify-content: space-between;
}
.servisesCard {
  padding: 48px 31px 44px 48px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 60px 68px -30px rgba(255, 161, 85, 0.35);
}
.servisesCard h5 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);
}
.servisesCard p {
  width: 326px;
  margin-bottom: 24px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}
.linkA {
  color: rgba(68, 76, 252, 1);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
}
/* Our Process */
.box-cards {
  padding: 68px 0 96px;
}
.cards {
  display: flex;
  align-items: center;
}
.cards-2-top {
  padding-top: 40px;
}
.card__hr {
  width: 48px;
  /* height: 2px; */
  border: 2px dashed rgba(218, 218, 221, 1);
  /* background-color: rgba(218, 218, 221, 1); */
}

.card-img__bottom {
  display: flex;
  flex-direction: column;
}
.card {
  width: 394px;
  height: 164px;
  border: 1px solid rgba(35, 37, 54, 0.17);
  display: flex;
  padding: 12px 16px 28px 32px;
}
.card-description {
  display: flex;
  gap: 16px;
  padding-top: 20px;
}
.card-description__img {
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 211, 175, 0.17);
}
.card-description__h6 {
  padding-bottom: 6px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);
}
.card-description__p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  opacity: 0.6;
  color: rgba(35, 37, 54, 1);
}
.card-number {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  opacity: 0.2;
  color: rgba(35, 37, 54, 1);
}
.sozsiz {
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0px;
  width: 733px;
  color: rgba(35, 37, 54, 1);
}
.sozsizp {
  width: 642px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(35, 37, 54, 1);
}

/* carusel  */
.carusel {
  padding-top: 102px;
  padding-bottom: 119px;
  background-color: rgba(249, 249, 255, 1);
}
.caruselp1 {
  margin-top: 16px;
  margin-bottom: 20px;
  width: 502px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
}
.caruselP {
  width: 492px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  opacity: 0.87;
  margin-bottom: 24px;
}
.caruselH2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0px;
  width: 492px;
  color: rgba(35, 37, 54, 1);
}
.endCruselP {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-top: 14px;
}
.caruselRight {
  text-align: start !important  ;
  padding: 48px 42.3px 42px 40px;
  background-color: rgba(255, 255, 255, 1);
}
.CrightElemP {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0px;
  opacity: 80% !important;
  width: 498px;
  margin-bottom: 24px;
}
.abrobe {
  display: flex;
  align-items: center;
}
/* READ  */
.Read {
  padding: 131px 0px 96px;
  background-color: rgba(236, 248, 249, 1);
}
.r-e-a-d {
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0px;
}
.read_BoxElem {
  display: flex;
  align-items: center;
  background-color: white;
}
.ReadRightElem {
  padding: 8px 32px 24px;
  
}
.read_BoxElem a {
  text-decoration: none;
  font-family: Poppins;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;

}
.H3_boxElem {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0px;
  color: rgba(35, 37, 54, 1);
  width: 264px;
  padding-bottom: 24px;
}
